<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper" style="background-color: #0066ff">
        <a routerLink="/" class="brand-logo"><img src="https://i.imgur.com/1NA0X3h.jpg" alt="logo" style="width: px; height:62px; margin-left: 5px;"/></a>

        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
          <li><a routerLink="/usuarios-list">Users</a></li>
          <li><a routerLink="/admins-list">Administradores</a></li>
          <li class="has-dropdown"><a routerLink="/alumnos-list">Alumnos</a>
            <ul class="dropdown">
              <li><a routerLink="/usuarios-list">Users</a></li>
              <li><a routerLink="/admins-list">Administradores</a></li>
            </ul>
          </li>
          
          <li><a routerLink="/maestros-list">Maestros</a></li>
          <li class="has-dropdown"><a routerLink="">Horarios</a>
            <ul class="dropdown">
              <li><a routerLink="/horario-form">Agregar Horario</a></li>
              <li><a routerLink="/horario">Ver Horarios</a></li>
            </ul>
          </li>
          <li><a routerLink="/calificaciones-list">Calificaciones</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <input
  type="text" style="height: 35px; width: 800px; margin-left: 20%;"placeholder="Search" [(ngModel)]="filterPost"
  class="block w-full px-4 py1 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
/>
  <div class="flex flex-col">
    <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full">
            <thead class="bg-white border-b">
              <tr>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  HOUR
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  MONDAY
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  TUESDAY
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  WEDNESDAY
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  THURSDAY
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  FRIDAY
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  SATURDAY
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-gray-100 border-b" *ngFor="let horario of arrayHorarios[0]|filterHorario:filterPost">

                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  {{horario.Hora_inicio.substring(0, 5)+ horario.Hora_inicio.substring(15)}} - 
                  {{horario.Hora_final.substring(0, 5)+ horario.Hora_final.substring(15)}}
                </td>
                
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap" >
                  <p *ngIf="horario.dia==='Monday-Wednesday'"> Language :{{horario.idioma}} </p> <br>
                  <p *ngIf="horario.dia==='Monday-Wednesday'"> Level : {{horario.nivel}} </p> <br>
                  <p *ngIf="horario.dia==='Monday-Wednesday'"> Teacher :{{obtenerNombre(horario.id_maestro)}}</p>
                  
                  

                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap" >
                  <p *ngIf="horario.dia==='Tuesday-Thursday'"> Language :{{horario.idioma}} </p> <br>
                  <p *ngIf="horario.dia==='Tuesday-Thursday'"> Level : {{horario.nivel}} </p> <br>
                  <p *ngIf="horario.dia==='Tuesday-Thursday'"> Teacher :{{obtenerNombre(horario.id_maestro)}}</p>
                  

                </td>              
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap" >
                  <p *ngIf="horario.dia==='Monday-Wednesday'"> Language :{{horario.idioma}} </p> <br>
                  <p *ngIf="horario.dia==='Monday-Wednesday'"> Level : {{horario.nivel}} </p> <br>
                  <p class="maestro" *ngIf="horario.dia==='Monday-Wednesday'"> Teacher :{{obtenerNombre(horario.id_maestro)}}</p>
                  

                </td>     
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap" >
                  <p *ngIf="horario.dia==='Tuesday-Thursday'"> Language :{{horario.idioma}} </p> <br>
                  <p *ngIf="horario.dia==='Tuesday-Thursday'"> Level : {{horario.nivel}} </p> <br>
                  <p  *ngIf="horario.dia==='Tuesday-Thursday'"> Teacher : {{obtenerNombre(horario.id_maestro)}}</p>
                  

                </td>

                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap" >

                  

                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  <p *ngIf="horario.dia==='Saturday'"> Language : {{horario.idioma}} </p> <br>
                  <p *ngIf="horario.dia==='Saturday'"> Level: {{horario.nivel}} </p> <br>
                  <p *ngIf="horario.dia==='Saturday'"> Teacher : {{obtenerNombre(horario.id_maestro)}}</p>
                  

                </td>




              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

</html>