<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
      <app-menu></app-menu>
      </header>
      <h5 style="text-align: center">HORAS LABORADAS DE MAESTROS</h5>
      <div  class="flex flex-col">
        <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
          <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <table class="min-w-full">
                <thead class="bg-white border-b">
                  <tr>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      First Name
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      Last Name
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      Second Last Name
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      Horas Laboradas
                    </th>
      
      
                  </tr>
                </thead>
                <tr class="bg-gray-100 border-b" *ngFor="let alumno of arrayHorasMaestros[0]">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    {{alumno.first_nameU}}
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    {{alumno.last_nameU}}
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    {{alumno.last_nameU2}}
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    {{alumno.total_horas.toString().substring(0,3)}}
                   
                   
                  </td>
                  
      
      
      
      
                </tr>
              </table>
             
            </div>
          </div>
        </div>
      </div>

      <p style="margin-top:20px; margin-left: 30px;">Ingresar Salario</p>
      <input  type="text" name="last_name" [(ngModel)]="sueldo"
    style="height: 35px; width: 150px;margin-left: 30px;" id="password" placeholder="Salary"
    class="block w-full px-4 py1 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />

    <button data-ripple-light="true" data-popover-target="popover"
            style="margin-left: 30px;"
            (click)="getSueldo()"
            class="middle none center rounded-lg bg-gradient-to-tr from-blue-600 to-blue-400 py-3 px-5 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
            Calcular Pago
          </button>
    
    

    <div *ngIf="mostrar" class="flex flex-col">
      <h5 style="text-align: center">SUELDO TOTAL DE MAESTROS (MENSUALES)</h5>
      <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class="min-w-full">
              <thead class="bg-white border-b">
                <tr>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    First Name
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    Last Name
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    Second Last Name
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    Sueldo a Pagar
                  </th>
    
    
                </tr>
              </thead>
              <tr class="bg-gray-100 border-b" *ngFor="let sueldo of arraySueldos[0]">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  {{sueldo.first_nameU}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{sueldo.last_nameU}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{sueldo.last_nameU2}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{sueldo.total_horas}}
                 
                 
                </td>
                
    
    
    
    
              </tr>
            </table>
           
          </div>
        </div>
      </div>
    </div>
         
</body>
</html>