.grid_columns {
  display: flex;
  grid-template-columns: 1fr 2fr; /* Cambia la proporción de columnas según tus necesidades */
  gap: 20px; /* Ajusta el espacio entre columnas */
}

.filter_column {
  flex: 1;
}

.assign-tags_column {
  flex: 2;
}

.members-fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.members-list {
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
}

.member {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  padding: 12px 0;
  border-bottom: 1px solid #e5e7eb;
}

.member:last-child {
  border-bottom: none;
}

.member-checkbox {
  margin-right: 12px;
  margin-left: 12px;
  width: 20px;
  height: 20px;
  position: static;
  opacity: 1;
  pointer-events: auto;
  border-radius: 5px; /* Bordes redondeados */
}

.member-label {
  font-size: 16px;
  color: #4b5563;
  cursor: pointer;
  line-height: 1.5; /* Ajusta el espaciado entre líneas */
  margin-top: 8px;
}

.file_search_wrapper {
  position: relative;
}

.file_search_wrapper input[type="text"] {
  padding-right: 30px; /* Espacio para el icono */
}

.search_icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Ajusta la posición del icono */
  transform: translateY(-50%);
  width: 20px; /* Ancho del icono */
  height: 20px; /* Altura del icono */
  background-image: url('https://cdn3.iconfinder.com/data/icons/feather-5/24/search-512.png'); /* URL de la imagen del icono */
  background-size: cover;
  cursor: pointer;
}

.search_input {
  max-width: calc(100% - 30px); /* Resta el espacio para el icono */
}