<div style="overflow-y: auto; max-height: 260px; padding-right: 15px; width: 100%;">
  <div style="width: 100%;">
    <label for="location" class="block text-sm font-medium text-gray-700">Seleccione la etiqueta a asignar a los archivos:</label>
    <select id="location" name="location" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
        (change)="onSelectOption()">
      <option disabled selected value="">Selecciona una opción</option>
      <option *ngFor="let tag of tags">{{ tag }}</option> <!-- Genera opciones dinámicamente -->
    </select>
  </div>
  <br />
  <div class="grid_columns"  *ngIf="optionSelected" style="width: 100%; display: flex; max-width: 1200px;">
    <div class="filter_column" style="width: 100%;">
      <div class="filter_header">
        <h6>Filtro de etiquetas</h6>
      </div>
      <div class="file_search_wrapper">
        <input type="text" placeholder="Buscar archivos" (input)="filterFiles($event)" class="search_input">
        <span class="search_icon"></span>
      </div>
      <div class="file_type_filter" style="width: 100%;">
        <label for="location" class="block text-sm font-medium text-gray-700" style="margin-bottom: 5px; margin-top: 12px;">Tipo de archivo: </label>
        <select id="file_type_filter" name="file_type_filter" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
                (change)="filterByFileType($event)">
          <option></option>
          <option>Documento Word</option>
          <option>PDF</option>
          <option>Audio</option>
          <option>Video</option>
          <option>PowerPoint</option>
          <option>Imagen</option>
        </select>
      </div>
      <div style="margin-top: 25px;">
        <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Asignar etiqueta</button>
      </div>  
    </div>
    <div class="assign-tags_column">
      <fieldset class="members-fieldset">
        <legend class="text-lg font-medium text-gray-900">Selecciona el o los archivos</legend>
        <div class="members-list">
          <div class="member" *ngFor="let file of filteredFiles">
            <input [id]="'file-' + file.id" [name]="'file-' + file.id" type="checkbox" class="member-checkbox" (change)="checkIfChecked()">
            <label [for]="'file-' + file.id" class="member-label">{{ file.name }}</label>
          </div>
        </div>
      </fieldset>
      <br />
      <button *ngIf="atLeastOneChecked" type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-yellow-300 hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-200">Asignar etiqueta(s)</button>
    </div>
  </div>
</div>
