<div style="overflow-y: auto; max-height: 360px; padding-right: 15px;">
  <div>
    <label for="location" class="block text-sm font-medium text-gray-700">Seleccione la etiqueta a asignar a los archivos:</label>
    <select id="location" name="location" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
            (change)="onSelectOption()">
      <option></option>
      <option>8A</option>
      <option>8B</option>
      <option>Conversation</option>
    </select>
  </div>
  <br />
  <fieldset class="members-fieldset" *ngIf="optionSelected">
    <legend class="text-lg font-medium text-gray-900">Selecciona el o los archivos</legend>
    <div class="members-list">
      <div class="member">
        <input id="file-1" name="file-1" type="checkbox" class="member-checkbox" (change)="checkIfChecked()">
        <label for="file-1" class="member-label">Archivo 1</label>
      </div>
      <div class="member">
        <input id="file-2" name="file-2" type="checkbox" class="member-checkbox" (change)="checkIfChecked()">
        <label for="file-2" class="member-label">Archivo 2</label>
      </div>
      <div class="member">
        <input id="file-3" name="file-3" type="checkbox" class="member-checkbox" (change)="checkIfChecked()">
        <label for="file-3" class="member-label">Archivo 3</label>
      </div>
    </div>
  </fieldset>
  <br />
  <button *ngIf="atLeastOneChecked" type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-yellow-300 hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-200">Asignar etiqueta(s)</button>
</div>

