<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper" style="background-color: #0066ff">
          <a routerLink="/" class="brand-logo"
            ><img
              src="https://i.imgur.com/1NA0X3h.jpg"
              alt="logo"
              style="width: px; height: 62px; margin-left: 5px"
          /></a>

          <a href="#" data-target="mobile-demo" class="sidenav-trigger"
            ><i class="material-icons">menu</i></a
          >
          <ul class="right hide-on-med-and-down">
            <li class="has-dropdown">
              <a style="margin-right: 40px">{{ nombreUsuario }}</a>
              <ul class="dropdown">
                <li><a (click)="logout()">Cerrar Sesion</a></li>
                <li><a [routerLink]="['/usuario/update',id]">Actualizar datos</a></li>
                
              </ul>
            </li>
            <li *ngIf="isAdmin"><a routerLink="/usuarios-list">Users</a></li>
            <li *ngIf="isAdmin"><a routerLink="/admins-list">Administradores</a></li>
            <li *ngIf="isAdmin" class="has-dropdown">
              <a routerLink="/alumnos-list">Alumnos</a>
              <ul class="dropdown">
                <li ><a routerLink="/usuarios-list">Users</a></li>
                <li><a routerLink="/admins-list">Administradores</a></li>
                <li><a routerLink="/usuarios-list">Users</a></li>
                <li><a routerLink="/admins-list">Administradores</a></li>
              </ul>
            </li>

            <li *ngIf="isAdmin"><a routerLink="/maestros-list">Maestros</a></li>
            <li *ngIf="isAdmin"><a routerLink="/grupos">Grupos</a></li>
            <li><a routerLink="/clases">Clases</a></li>
            <li *ngIf="isAdmin||isMaestro" class="has-dropdown">
              <a>Horarios</a>
              <ul class="dropdown">
                <li *ngIf="isAdmin"><a routerLink="/horarios-form">Agregar Horario</a></li>
                <li><a routerLink="/horarios">Ver Horarios</a></li>
              </ul>
            </li>
            <li><a routerLink="/calificaciones-list">Calificaciones</a></li>
            <li><a routerLink="/grabaciones">Grabaciones</a></li>
            <li><a routerLink="">Materiales</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <h4 style="text-align: center">GRABACIONES</h4>

    <ul
      role="list"
      class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
    >
      <li
        class="col-span-1 flex flex-col text-center bg-white rounded-lg shadow divide-y divide-gray-200"
        *ngFor="let clase of arrayClases[0]"
      >
        <div class="flex-1 flex flex-col p-8">
          <img
            class="w-32 h-32 flex-shrink-0 mx-auto rounded-full"
            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60"
            alt=""
          />
          <h3 class="mt-6 text-gray-900 text-sm font-medium">
            {{ clase.nombre_grupo }}
          </h3>
          <dl class="mt-1 flex-grow flex flex-col justify-between">
            <dt class="sr-only">Title</dt>
            <dd class="text-gray-500 text-sm">{{ clase.Idioma }} <br /></dd>
            <h4 class="mt-6 text-gray-900 text-sm font-medium">Category</h4>
            
            <dd class="text-gray-500 text-sm">{{ clase.categoria }} <br /></dd>
            <h4 *ngIf="isAdmin" class="mt-6 text-gray-900 text-sm font-medium">
              Teachers
            </h4>

            <dd *ngIf="isAdmin" class="mt-3">
              <span
                class="px-2 py-1 text-green-800 text-xs font-medium bg-green-100 rounded-full"
                >{{ obtenerNombreMaestro(clase.id_maestro) }}</span
              >
              <br /><br />
              <span
                class="px-2 py-1 text-green-800 text-xs font-medium bg-green-100 rounded-full"
                >{{ obtenerNombreMaestro2(clase.id_maestro2) }}</span
              >
            </dd>
          </dl>
        </div>
        <div>
          <div class="-mt-px flex divide-x divide-gray-200">
            <div class="w-0 flex-1 flex">
              <a
                (click)="getGrabaciones(clase.id_clase)"
                class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500"
              >
                <!-- Heroicon name: solid/mail -->

                <span class="ml-3">View Recordings</span>
              </a>
            </div>
          </div>
        </div>
      </li>

      <!-- More people... -->
    </ul>

    <div *ngIf="obtenerGrab">
    <div *ngFor="let grabaciones of arrayGrabaciones[0]">
      <div class="bg-gray-100 lg:py-12">
        <div
          class="bg-white lg:mx-8 lg:flex lg:max-w-5xl lg:shadow-lg lg:rounded-lg"
        >
          <div class="lg:w-1/2">
            <div
              class="h-64 bg-cover lg:rounded-lg lg:h-full"
              style="
                background-image: url('https://images.unsplash.com/photo-1497493292307-31c376b6e479?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80');
              "
            ></div>
          </div>
          <div class="py-12 px-6 max-w-xl lg:max-w-5xl lg:w-1/2">
            <h2 class="text-3xl text-gray-800 font-bold">
              <span class="text-indigo-600"
                >CLASS : {{ obtenerNombreGrupo(grabaciones.id_clase) }}</span
              >
            </h2>
            <h2 class="text-3xl text-gray-800 font-bold">
              <span class="text-indigo-600"
                >TOPIC : {{ grabaciones.titulo }}</span
              >
            </h2>
            <p>
              <span class="text-indigo-600"
                >UPLOAD DATE {{ grabaciones.fecha }}</span
              >
            </p>
            <a
              href="{{ grabaciones.URL }}"
              target="_blank"
              class="mt-4 text-gray-600"
              >Haga click para ver la clase</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
    <div *ngIf="agregarGrab">
      <h6 style="margin-left: 30px">Topic</h6>
      <input
        [(ngModel)]="grabacion.titulo"
        style="height: 35px; width: 150px; margin-left: 30p"
        id="password"
        placeholder="New Group Name"
        class="block w-full px-4 py1 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
      />

      <h6 style="margin-left: 30p">Url de Zoom</h6>
      <input
        [(ngModel)]="grabacion.URL"
        style="height: 35px; width: 450px; margin-left: 30p"
        id="password"
        placeholder="New Group Name"
        class="block w-full px-4 py1 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
      />

      <div>
        <label
          for="email"
          class="block mb-2 text-sm text-gray-600 dark:text-gray-200"
          >Fecha</label
        >
        <input
          type="date"
          name="Hora_inicio"
          id="email"
          [(ngModel)]="grabacion.fecha"
          style="width: 150px"
          placeholder="example@example.com"
          value=""
          class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
        />
      </div>

      <div class="flex flex-col">
        <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
          <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <h5 style="text-align: center">Clase</h5>

              <input
                type="text"
                style="height: 35px; width: 800px; margin-left: 20%"
                name="search"
                placeholder="Search"
                class="block w-full px-4 py1 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
              />
              <table class="min-w-full">
                <thead class="bg-white border-b">
                  <tr>
                    <th
                      scope="col"
                      class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
                    >
                      ID
                    </th>
                    <th
                      scope="col"
                      class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
                    >
                      Nombre Clase
                    </th>
                    <th
                      scope="col"
                      class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
                    >
                      Categoria
                    </th>
                    <th
                      *ngIf="isAdmin"
                      scope="col"
                      class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
                    >
                      Maestro 1
                    </th>
                    <th
                      *ngIf="isAdmin"
                      scope="col"
                      class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
                    >
                      Maestro 2
                    </th>

                    <th
                      scope="col"
                      class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
                    >
                      Action
                    </th>
                  </tr>
                </thead>
                <tr
                  class="bg-gray-100 border-b"
                  *ngFor="let clase of arrayClases[0]"
                >
                  <td
                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"
                  >
                    {{ clase.id_grupo }}
                  </td>
                  <td
                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"
                  >
                    {{ clase.nombre_grupo }}
                  </td>
                  <td
                    class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                  >
                    {{ clase.categoria }}
                  </td>
                  <td
                    *ngIf="isAdmin"
                    class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                  >
                    {{ obtenerNombreMaestro( clase.id_maestro) }}
                  </td>
                  <td
                    *ngIf="isAdmin"
                    class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                  >
                  {{ obtenerNombreMaestro( clase.id_maestro) }}
                  </td>

                  <td
                    class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                  >
                    <!-- component -->
                    <button
                      (click)="escogerClase(clase.id_clase)"
                      data-ripple-light="true"
                      data-popover-target="popover"
                      class="middle none center rounded-lg bg-gradient-to-tr from-blue-600 to-blue-400 py-3 px-5 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                    >
                      ESCOGER
                    </button>
                  </td>
                </tr>
              </table>
         
            </div>
          </div>
        </div>
      </div>
   
      <br />
      <button
        (click)="guardarGrabaciones()"
        data-ripple-light="true"
        data-popover-target="popover"
        class="middle none center rounded-lg bg-gradient-to-tr from-blue-600 to-blue-400 py-3 px-5 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      >
        GUARDAR GRABACION</button
      ><br />
    </div>

    <!-- component -->
    <div *ngIf="mostrarGrab">
      <button
        *ngIf="!isAlumno"
        style="margin-top: 50px"
        (click)="agregarNuevaG()"
        data-ripple-light="true"
        data-popover-target="popover"
        class="middle none center rounded-lg bg-gradient-to-tr from-blue-600 to-blue-400 py-3 px-5 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      >
        AGREGAR GRABACION</button
      ><br />
      <div *ngFor="let grabaciones of arrayGrabaciones[0]">
        <div class="bg-gray-100 lg:py-12">
          <div
            class="bg-white lg:mx-8 lg:flex lg:max-w-5xl lg:shadow-lg lg:rounded-lg"
          >
            <div class="lg:w-1/2">
              <div
                class="h-64 bg-cover lg:rounded-lg lg:h-full"
                style="
                  background-image: url('https://images.unsplash.com/photo-1497493292307-31c376b6e479?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80');
                "
              ></div>
            </div>
            <div class="py-12 px-6 max-w-xl lg:max-w-5xl lg:w-1/2">
              <h2 class="text-3xl text-gray-800 font-bold">
                <span class="text-indigo-600"
                  >CLASS : {{ obtenerNombreGrupo(grabaciones.id_clase) }}</span
                >
              </h2>
              <h2 class="text-3xl text-gray-800 font-bold">
                <span class="text-indigo-600"
                  >TOPIC : {{ grabaciones.titulo }}</span
                >
              </h2>
              <p>
                <span class="text-indigo-600"
                  >UPLOAD DATE {{ grabaciones.fecha }}</span
                >
              </p>
              <a
                href="{{ grabaciones.URL }}"
                target="_blank"
                class="mt-4 text-gray-600"
                >Haga click para ver la clase</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
