<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <header>
      <nav>
        <div class="nav-wrapper" style="background-color: #0066ff">
          <a routerLink="/" class="brand-logo"><img src="https://i.imgur.com/1NA0X3h.jpg" alt="logo" style="width: px; height:62px; margin-left: 5px;"/></a>
  
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"
            ><i class="material-icons">menu</i></a
          >
          <ul class="right hide-on-med-and-down">
            <li><a routerLink="/usuarios-list">Users</a></li>
            <li><a routerLink="/admins-list">Administradores</a></li>
            <li class="has-dropdown"><a routerLink="/alumnos-list">Alumnos</a>
              <ul class="dropdown">
                <li><a routerLink="/usuarios-list">Users</a></li>
                <li><a routerLink="/admins-list">Administradores</a></li>
                <li><a routerLink="/usuarios-list">Users</a></li>
                <li><a routerLink="/admins-list">Administradores</a></li>
              </ul>
            </li>
            
            <li><a routerLink="/maestros-list">Maestros</a></li>
            <li><a routerLink="/grupos">Grupos</a></li>
            <li><a routerLink="/clases">Clases</a></li>
            <li class="has-dropdown"><a>Horarios</a>
              <ul class="dropdown">
                <li><a routerLink="/horario-form">Agregar Horario</a></li>
                <li><a routerLink="/horario">Ver Horarios</a></li>
              </ul>
            </li>
            <li><a routerLink="/calificaciones-list">Calificaciones</a></li>
            <li><a routerLink="/calificaciones-list">Grabaciones</a></li>
            <li><a routerLink="/calificaciones-list">Materiales</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <form>
      <div class="field">
        <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Language</label>
        <div class="control">
          <div class="select">
            <select [(ngModel)]="horario.idioma" name="idioma" required>
              <option>Select Language</option>
              <option value="English">English</option>
              <option value="Spanish">Spanish</option>
              <option value="French">French</option>
            </select>
          </div>
        </div>
      </div>

  <div>
    <div class="field">
      <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Group</label>
      <div class="control">
        <div class="select">
          <select [(ngModel)]="horario.id_grupo" name="grupo" required>
            <option>Select Group</option>
            <option *ngFor="let clase of arrayClases[0]"   
              value="{{ clase.id_grupo}}">{{ clase.nombre_grupo }}</option>

            

          </select>
        </div>
      </div>
    </div>
</div>
<div class="field">
  <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Day</label>
  <div class="control">
    <div class="select">
      <select [(ngModel)]="horario.dia" name="dia" required>
        <option>Select Day</option>
        <option value="Monday-Thursday">Monday - Thursday</option> 
        <option value = "Saturday">Saturday</option>     
      </select>
    </div>
  </div>
</div>

<div>
  <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Start Time</label>
  <input type="time" name="Hora_inicio" id="email" [(ngModel)]="horario.Hora_inicio" style="width:150px" placeholder="example@example.com" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
</div>

<div>
  <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-200">End Time</label>
  <input type="time" name="Hora_final" id="email" [(ngModel)]="horario.Hora_final" style="width:150px" placeholder="example@example.com" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
</div>

   

    <div class="mt-6">
      <button style="width:340px; margin-left:40%" (click)=" edit ? updateHorario():saveHorario()" 
          class=" px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50">
          Save
      </button>
  </div>
</form>
  </body>
</html>
