<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header>
  <nav>
    <div class="nav-wrapper" style="background-color: #0066ff;">
      <a routerLink="/" class="brand-logo"><img src="https://i.imgur.com/1NA0X3h.jpg" alt="logo" style="width: px; height:62px; margin-left: 5px;"/></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/horario">Horarios</a></li>
        <li><a routerLink="/">Clases</a></li>
        <li><a routerLink="/">Calificaciones</a></li>
      </ul>
      <p style="text-align:center; margin-left:150px">Maestro</p>
    </div>
  </nav>
</header>
      
</body>
</html>