<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <nav>
      <div class="nav-wrapper" style="background-color: #0066ff">
        <a routerLink="/" class="brand-logo"><img src="https://i.imgur.com/1NA0X3h.jpg" alt="logo" style="width: px; height:62px; margin-left: 5px;"/></a>

        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
          <li><a routerLink="/usuarios-list">Users</a></li>
          <li><a routerLink="/admins-list">Administradores</a></li>
          <li class="has-dropdown"><a routerLink="/alumnos-list">Alumnos</a>
            <ul class="dropdown">
              <li><a routerLink="/usuarios-list">Users</a></li>
              <li><a routerLink="/admins-list">Administradores</a></li>
            </ul>
          </li>
          
          <li><a routerLink="/maestros-list">Maestros</a></li>
          <li class="has-dropdown"><a>Horarios</a>
            <ul class="dropdown">
              <li><a routerLink="/horario-form">Agregar Horario</a></li>
              <li><a routerLink="/horario">Ver Horarios</a></li>
            </ul>
          </li>
          <li><a routerLink="/calificaciones-list">Calificaciones</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <input
  type="text" style="height: 35px; width: 800px; margin-left: 20%;"placeholder="Search" name="filterPost" [(ngModel)]="filterPost"
  class="block w-full px-4 py1 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
/>
    <div class="flex flex-col">
      <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class="min-w-full">
              <thead class="bg-white border-b">
                <tr>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    First Name
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    Last Name
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    Second Last Name
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    Telephone Number
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    Email
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    Password
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    Role
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-gray-100 border-b" *ngFor="let user of arrayusers[0]|filter:filterPost">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ user.first_nameU }}</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    
                  {{ user.last_nameU }}
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    {{ user.last_nameU2 }}
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    {{ user.telephoneU}}
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    {{ user.email}}
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    {{ user.password}}
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
               
                    <p *ngIf="user.id_rol===1">Alumno</p>
                    <p *ngIf="user.id_rol===2">Maestro</p>
                    <p *ngIf="user.id_rol===3">Administrador</p>

                  </td>

                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    <!-- component -->
                    <button
                    [routerLink]="['/usuario/update',user.id_user]"
                    data-ripple-light="true"
                    data-popover-target="popover"
                    class="middle none center rounded-lg bg-gradient-to-tr from-blue-600 to-blue-400 py-3 px-5 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                    >
                    UPDATE
                    </button>
                  </td>

                  <td class="text-sm text-gray-900 font-light px-4 py-4 whitespace-nowrap">
                    <button
                    data-ripple-light="true"
                    (click)="deleteUser(user.id_user)"
                    data-popover-target="popover"
                    class="middle none center rounded-lg bg-gradient-to-tr from-red-600 to-red-400 py-3 px-5 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                    
                    >
                    DELETE
                    </button>
                  </td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</body>
</html>


  
  
  
  
  
  