<form>
  <label> Name : </label>
  <input type="text" placeholder="Nombre" /> <br />
  <label> Apellido : </label>
  <input type="text" placeholder="Nombre" /> <br />
  <label> Telefono : </label>
  <input type="text" placeholder="Nombre" /> <br />
  <label> Correo : </label>
  <input type="text" placeholder="Nombre" /> <br />
  <label> Contrasena : </label>
  <input type="text" placeholder="Nombre" /><br />
  <label> Rol : </label>
  <select id="colors" name="colors">
    <option value="red">Alumno</option>
    <option value="green">Maestro</option>
    <option value="blue">Admin</option>
  </select> <br/>
  <button type="" name=""> Guardar </button>
</form>

<div *ngFor="let user of arrayusers[0]"></div>
