
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <header>
    <app-menu></app-menu>
  </header>
  <h4 style="text-align: center">Maestros</h4>
  <input
  type="text" style="height: 35px; width: 800px; margin-left: 20%;"placeholder="Search" [(ngModel)]="filterPost"
  class="block w-full px-4 py1 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
/>
  <div class="flex flex-col">
    <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full">
            <thead class="bg-white border-b">
              <tr>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  First Name
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Last Name
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Second Last Name
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Telephone Number
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Email
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-gray-100 border-b" *ngFor="let maestro of arrayMaestros[0]">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ maestro.first_nameU }}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  
                {{ maestro.last_nameU }}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{ maestro.last_nameU2 }}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{ maestro.telephoneU}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{ maestro.email}}
                </td>

                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  <!-- component -->
                  <button
                  [routerLink]="['/usuario/update',maestro.id_user]"
                  data-ripple-light="true"
                  data-popover-target="popover"
                  class="middle none center rounded-lg bg-gradient-to-tr from-blue-600 to-blue-400 py-3 px-5 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                  >
                  Update
                  </button>
                </td>

                <td class="text-sm text-gray-900 font-light px-4 py-4 whitespace-nowrap">
                  <button
                  data-ripple-light="true"
                  data-popover-target="popover"
                  class="middle none center rounded-lg bg-gradient-to-tr from-red-600 to-red-400 py-3 px-5 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                  (click)="deleteMaestro(maestro.id_user)"
                  >
                  Delete
                  </button>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<!--
  <div class="chart-container">
    <canvas id="myChart"></canvas>
  </div>
  -->

  
  
  <!--
  <form  enctype="multipart/form-data">
    <input type="file" #fileInput>
    <button type="submit">Subir archivo</button>
  </form>
  
  <video width="640" height="360" controls>
    <source src="C:\Users\LENOVO\OneDrive\Documentos\Zoom\2023-10-02 14.34.23 Reunión de Zoom de Keny Alexander Miranda V\video1543045163.mp4" type="video/mp4">
    Tu navegador no soporta la reproducción de video.
  </video>
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/TLzPIn8r960?si=E0O3uaQ--egzc6ih" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
-->

</body>
</html>

<!-- component -->

<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <nav>
      <div class="nav-wrapper" style="background-color: rgb(11, 34, 81);">
        <a routerLink="/" class="brand-logo">Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a routerLink="/alumnos-list">Alumnos</a></li>
          <li><a routerLink="/maestros-list">Maestros</a></li>
          <li><a routerLink="/horarios-list">Horarios</a></li>
          <li><a routerLink="/usuarios-list">Users</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <table style="border:solid 2px rgb(80, 228, 6)">
    <tr>
      <th>Nombre</th>
      <th>Primer Apellido</th>
      <th>Segundo Apellido</th>
      <th>Telefono</th>
      <th>Correo</th>
    
    </tr>
    <tr *ngFor="let maestro of arrayMaestros[0]">
      <td>{{ maestro.first_name_M }}</td>
      <td>{{ maestro.last_name_M }}</td>
      <td>{{ maestro.last_name2_M }}</td>
      <td>{{ maestro.telephone_M }}</td>
      <td>{{ maestro.email_M}}</td>
     
      <td><button>Actualizar</button></td>
      <td><button>Borrar</button></td>
  
  
    </tr>
  </table>
</body>
</html>

-->
