<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <header>
    <nav>
      <div class="nav-wrapper" style="background-color: #0066ff;">
        <a routerLink="/" class="brand-logo"><img src="https://i.imgur.com/1NA0X3h.jpg" alt="logo" style="width: px; height:62px; margin-left: 5px;"/></a>

        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a routerLink="/usuarios-list">Users</a></li>
          <li><a routerLink="/admins-list">Administradores</a></li>
          <li><a routerLink="/alumnos-list">Alumnos</a></li>
          <li><a routerLink="/maestros-list">Maestros</a></li>
          <li><a routerLink="/horario">Horarios</a></li>
          <li><a routerLink="/">Calificaciones</a></li>
          
        </ul>
      </div>
    </nav>
  </header>
  <input
  type="text" style="height: 35px; width: 800px; margin-left: 20%;" name="search" placeholder="Search" [(ngModel)]="filterPost"
  class="block w-full px-4 py1 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
/>
  <div class="flex flex-col">
    <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full">
            <thead class="bg-white border-b">
              <tr>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  First Name
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Last Name
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Second Last Name
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"*ngFor="let fecha of arrayFechas">
                  {{fecha.substring(0,10)}}
                </th>

                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-gray-100 border-b" *ngFor="let alumno of arrayAlumnos[0] | filterCalif:filterPost ">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ alumno.first_name_A }}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  
                {{ alumno.last_name_A }}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{ alumno.last_name2_A }}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"*ngFor="let fecha of arrayFechas">
                  <p >{{obtenerCalificacion(alumno.id_alumno,fecha)}}</p>
                 
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  <!-- component -->
                  <button
                  [routerLink]="['/calificacion',alumno.id_alumno]"
                  data-ripple-light="true"
                  data-popover-target="popover"
                  class="middle none center rounded-lg bg-gradient-to-tr from-blue-600 to-blue-400 py-3 px-5 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                  >
                  GRAFICA
                  </button>
                </td>
                <!--
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  
                  <button
                  data-ripple-light="true"
                  data-popover-target="popover"
                  class="middle none center rounded-lg bg-gradient-to-tr from-blue-600 to-blue-400 py-3 px-5 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                  >
                  UPDATE
                  </button>
                </td>

                <td class="text-sm text-gray-900 font-light px-4 py-4 whitespace-nowrap">
                  <button
                  data-ripple-light="true"
                  
                  data-popover-target="popover"
                  class="middle none center rounded-lg bg-gradient-to-tr from-red-600 to-red-400 py-3 px-5 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                  >
                  DELETE
                  </button>
                </td>
              </tr>
              -->
   
              
              
            </tbody>
          </table>

          
        </div>
      </div>
    </div>
  </div>
</body>
</html>
<!--
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="flex flex-col">
        <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
          <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <table class="min-w-full">
                <thead class="bg-white border-b">
                  <tr>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      #
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      First
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      Last
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      Handle
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="bg-gray-100 border-b">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">1</td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      Mark
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      Otto
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      @mdo
                    </td>
                  </tr>
                  <tr class="bg-white border-b">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">2</td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      Jacob
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      Dillan
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      @fat
                    </td>
                  </tr>
                  <tr class="bg-gray-100 border-b">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      Mark
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      Twen
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      @twitter
                    </td>
                  </tr>    
                  <tr class="bg-white border-b">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">4</td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      Bob
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      Dillan
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      @fat
                    </td>
                  </tr>
                  <tr class="bg-gray-100 border-b">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">5</td>
                    <td colspan="2" class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-center">
                      Larry the Bird
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      @twitter
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
  <nav>
    <div class="nav-wrapper" style="background-color: rgb(11, 34, 81);">
      <a routerLink="/" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/alumnos-list">Alumnos</a></li>
        <li><a routerLink="/maestros-list">Maestros</a></li>
        <li><a routerLink="/horarios-list">Horarios</a></li>
        <li><a routerLink="/usuarios-list">Users</a></li>
      </ul>
    </div>
  </nav>
</header>
  
  
  <table style="border:solid 2px rgb(80, 228, 6)">
    <tr>
      <th>Nombre</th>
      <th>Primer Apellido</th>
      <th>Segundo Apellido</th>
      <th>Telefono</th>
      <th>Correo</th>
    
    </tr>
    <tr *ngFor="let alumno of arrayAlumnos[0]">
      <td>{{ alumno.first_name_A }}</td>
      <td>{{ alumno.last_name_A }}</td>
      <td>{{ alumno.last_name2_A }}</td>
      <td>{{ alumno.telephone_A }}</td>
      <td>{{ alumno.email_A}}</td>
     
      <td><button>Actualizar</button></td>
      <td><button>Borrar</button></td>
  
  
    </tr>
  </table>
</body>
</html>
-->