<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
          <div class="nav-wrapper" style="background-color: #0066ff">
            <a routerLink="/" class="brand-logo"><img src="https://i.imgur.com/1NA0X3h.jpg" alt="logo" style="width: px; height:62px; margin-left: 5px;"/></a>
    
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"
              ><i class="material-icons">menu</i></a
            >
            <ul class="right hide-on-med-and-down">
              <li><a routerLink="/usuarios-list">Users</a></li>
              <li><a routerLink="/admins-list">Administradores</a></li>
              <li class="has-dropdown"><a routerLink="/alumnos-list">Alumnos</a>
                <ul class="dropdown">
                  <li><a routerLink="/usuarios-list">Users</a></li>
                  <li><a routerLink="/admins-list">Administradores</a></li>
                  <li><a routerLink="/usuarios-list">Users</a></li>
                  <li><a routerLink="/admins-list">Administradores</a></li>
                </ul>
              </li>
              
              <li><a routerLink="/maestros-list">Maestros</a></li>
              <li><a routerLink="/grupos">Grupos</a></li>
              <li><a routerLink="/clases">Clases</a></li>
              <li class="has-dropdown"><a>Horarios</a>
                <ul class="dropdown">
                  <li><a routerLink="/horario-form">Agregar Horario</a></li>
                  <li><a routerLink="/horario">Ver Horarios</a></li>
                </ul>
              </li>
              <li><a routerLink="/calificaciones-list">Calificaciones</a></li>
              <li><a routerLink="/calificaciones-list">Grabaciones</a></li>
              <li><a routerLink="/calificaciones-list">Materiales</a></li>
            </ul>
          </div>
        </nav>
      </header>
      <h4 style="text-align:center">AGREGAR CLASES</h4>

      <h5>Grupos</h5>
      <div class="field">
        <div class="control">
          <div class="select">
            <select  [(ngModel)]="clase.id_grupo" name="horario.id_maestro" required>
              <option>Select Grupo</option>
              <option  *ngFor="let grupo of arrayGrupos[0]" value="{{grupo.id_grupo}}">{{grupo.nombre_grupo}}</option>
            </select>
            
          </div>
          
            <!-- component -->
            
            <button style="margin-left: 40px; "
            (click)="agregarGrupos()"
            data-ripple-light="true"
            data-popover-target="popover"
            class="middle none center rounded-lg bg-gradient-to-tr from-blue-600 to-blue-400 py-3 px-5 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            >
            AGREGAR GRUPO 
            </button>
          
        </div>
      </div>
      <h6 *ngIf="agregarGrupo">Ingresar Nuevo Grupo</h6>
      <input *ngIf="agregarGrupo"
      type="text"
      name="last_name"
      [(ngModel)]="grupo.nombre_grupo"
      style="height: 35px; width: 150px;"
      id="password"
      placeholder="New Group Name"
      class="block w-full px-4 py1 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
    />

    <button *ngIf="agregarGrupo" 
    
    (click)="guardarGrupo()"
    data-ripple-light="true"
    data-popover-target="popover"
    class="middle none center rounded-lg bg-gradient-to-tr from-blue-600 to-blue-400 py-3 px-5 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
    >
    Guardar Grupo
    </button>
    
    
     
      <h5> Numero de Maestros</h5>
      <div class="select">
        <select  [(ngModel)]="numeroMaes" name="horario.id_maestro" required>
          <option>Select Teachers Total</option>
          <option   value="1">1</option>
          <option   value="2">2</option>
        </select>
        
      </div>
      
      <!-- This example requires Tailwind CSS v2.0+ -->
      <button 
      style="margin-left: 40px;"
      (click)="numeroMaestro()"
      data-ripple-light="true"
      data-popover-target="popover"
      class="middle none center rounded-lg bg-gradient-to-tr from-blue-600 to-blue-400 py-3 px-5 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      >
      Escoger 
      </button>
      <div *ngIf="seleccion1" class="Maestros1">
      <h5 >Maestros</h5>
      <h6 *ngIf="seleccion1 && !seleccion2">Monday - Thursday or Full Saturday </h6>
      <h6 *ngIf="seleccion2">Monday - Wednesday or First two hours Saturday</h6>
      <div class="field" style="margin-top: 25px;" *ngIf="seleccion1" >
        <div class="control">
          <div class="select" >
            <select [(ngModel)]="clase.id_maestro" name="horario.id_maestro" required >
              <option>Select Teacher</option>
              <option  *ngFor="let maestro of arrayMaestros[0]" value="{{maestro.id_user}}">{{maestro.first_nameU}}  {{maestro.last_nameU}}</option>
            </select>
          </div>
          
        </div>
        
      </div>
    </div>
    <h6 *ngIf="seleccion2">Tuesday - Thursday or Last two hours Saturday </h6>
      <div class="field" style="margin-top: 25px;" *ngIf="seleccion2">
        <div class="control">
          <div class="select">
            
            <select [(ngModel)]="clase.id_maestro2" name="horario.id_maestro" required>
              <option>Select Teacher</option>
              <option  *ngFor="let maestro of arrayMaestros[0]" value="{{maestro.id_user}}">{{maestro.first_nameU}}  {{maestro.last_nameU}}</option>
            </select>
          </div>
          
        </div>
        
      </div>
  

      <h5>Alumnos</h5>
      <input
      [(ngModel)]="filterPost"
      type="text" style="height: 35px; width: 800px; margin-left: 20%;" name="search" placeholder="Search"
      class="block w-full px-4 py1 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
    />
      <div class="flex flex-col">
        <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
          <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <table class="min-w-full">
                <thead class="bg-white border-b">
                  <tr>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      First Name
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      Last Name
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      Second Last Name
                    </th>
                
    
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      Action
                    </th>
                  </tr>
                </thead>
                <tr class="bg-gray-100 border-b" *ngFor="let alumno of arrayAlumnos[0]|filter:filterPost">
                  <td  class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ alumno.first_nameU }}</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    
                  {{ alumno.last_nameU }}
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    {{ alumno.last_nameU2 }}
                  </td>
           
  
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    <!-- component -->
                    <button (click)="agregarClase(alumno.id_user)"
                    data-ripple-light="true"
                    data-popover-target="popover"
                    class="middle none center rounded-lg bg-gradient-to-tr from-blue-600 to-blue-400 py-3 px-5 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                    >
                    AGREGAR
                    </button>
                  </td>
  
                  <td class="text-sm text-gray-900 font-light px-4 py-4 whitespace-nowrap">
               
                  </td>
                </tr>
              </table>
    
              
            </div>
          </div>
        </div>
    </div>

    
</body>
</html>

