.underline {
    box-shadow: 0 2px 0 0 indigo;
}

.resize-handle {
    width: 10px;
    height: 10px;
    background-color: #333;
    z-index: 9999; /* Asegúrate de que los manejadores estén por encima del contenido */
}

.top-left {
    top: 0;
    left: 0;
    cursor: nwse-resize;
}

.flex {
    display: flex;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .items-end {
    align-items: flex-end;
  }