<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper" style="background-color: #0066ff;">
      <a routerLink="/" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/alumnos-list">Alumnos</a></li>
        <li><a routerLink="/maestros-list">Maestros</a></li>
        <li><a routerLink="/horarios-list">Horarios</a></li>
        <li><a routerLink="/usuarios-list">Users</a></li>
      </ul>
    </div>
  </nav>
  <!-- 
  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
  -->
</body>
</html>
