<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
          <div class="nav-wrapper" style="background-color: #0066ff">
            <a routerLink="/" class="brand-logo"
              ><img
                src="https://i.imgur.com/1NA0X3h.jpg"
                alt="logo"
                style="width: px; height: 62px; margin-left: 5px"
            /></a>
  
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"
              ><i class="material-icons">menu</i></a
            >
            <ul class="right hide-on-med-and-down">
              <li class="has-dropdown">
                <a style="margin-right: 40px">{{ nombreUsuario }}</a>
                <ul class="dropdown">
                  <li><a (click)="logout()">Cerrar Sesion</a></li>
                  <li><a [routerLink]="['/usuario/update',id]">Actualizar datos</a></li>
                  
                </ul>
              </li>
              <li *ngIf="isAdmin"><a routerLink="/usuarios-list">Users</a></li>
              <li *ngIf="isAdmin"><a routerLink="/admins-list">Administradores</a></li>
              <li *ngIf="isAdmin" class="has-dropdown">
                <a routerLink="/alumnos-list">Alumnos</a>
                <ul class="dropdown">
                  <li ><a routerLink="/usuarios-list">Users</a></li>
                  <li><a routerLink="/admins-list">Administradores</a></li>
                  <li><a routerLink="/usuarios-list">Users</a></li>
                  <li><a routerLink="/admins-list">Administradores</a></li>
                </ul>
              </li>
  
              <li *ngIf="isAdmin"><a routerLink="/maestros-list">Maestros</a></li>
              <li *ngIf="isAdmin"><a routerLink="/grupos">Grupos</a></li>
              <li><a routerLink="/clases">Clases</a></li>
              <li *ngIf="isAdmin||isMaestro" class="has-dropdown">
                <a>Horarios</a>
                <ul class="dropdown">
                  <li *ngIf="isAdmin"><a routerLink="/horarios-form">Agregar Horario</a></li>
                  <li><a routerLink="/horarios">Ver Horarios</a></li>
                </ul>
              </li>
              <li><a routerLink="/calificaciones-list">Calificaciones</a></li>
              <li><a routerLink="/grabaciones">Grabaciones</a></li>
              <li><a routerLink="">Materiales</a></li>
            </ul>
          </div>
        </nav>
      </header>


 
      <br>
      
      <div  >
        <canvas id="myChart"></canvas>
        
      </div>

      <div class="flex flex-col">
        <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
          <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <table class="min-w-full">
                <thead class="bg-white border-b">
                  <tr>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      Nombre del Maestro
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                      Numero de Alumnos
                   
                  </tr>
                </thead>
                <tbody>
                  <tr class="bg-gray-100 border-b" *ngFor="let alumno of arrayAlumnos[0]">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ alumno.first_nameU }}</td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      
                    {{ alumno.total_alumnos }}
                    </td>
                   
                
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
     
    
      
</body>
</html>

